.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    min-height: 100vh;
}

.container a {
    color: inherit;
    text-decoration: none;
    background-color: #eeeeee;
    padding: 10px;
    border-radius: 20px;
    transition: all ease-out 0.15s;
    color: #494949;
}

.container a:hover {
    background-color: #fff;
    border: 1px solid silver;
}